# New folders
__MACOSX
.DS_Store
CompBioAndSimulated_Datasets
.idea
.idea/
slurm/
ParKCa
*.zip
plots/
cevae_env/
CEVAE/
__pycache__/
savedmodels/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


