#Folders
__MACOSX
.DS_Store
.idea
.idea/
slurm/
*.zip
plots/
cevae_env/
CEVAE/
__pycache__/
results/


# zip
.zip

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


