pip install --no-index --upgrade pip
pip install jupyter
pip install pandas
pip install -U scikit-learn
pip install --no-index torch #https://docs.computecanada.ca/wiki/PyTorch
pip install jupyterlmod
pip install --no-index tensorflow_cpu #https://docs.computecanada.ca/wiki/TensorFlow
pip install --no-index tensorflow-probability
